<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            Ma Cagnotte
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <div *ngIf="montantRepartir">
        <ion-card>
            <ion-item>
                <ion-avatar item-start>
                    <ion-icon name="git-branch"></ion-icon>
                </ion-avatar>
                <h2>Montant à répartir :</h2>
                <h2 class="balancePositive">{{montantRepartir}}
                    <ion-icon style="font-size: inherit;" name="logo-euro"></ion-icon>
                </h2>
                <p>{{moisARepartir}}</p>

            </ion-item>
        </ion-card>
    </div>
    <div *ngIf="!dataCamembert">
        <ion-card>
            <ion-item>
                <ion-avatar item-start>
                    <ion-icon name="alert"></ion-icon>
                </ion-avatar>
                Aucun tableau de bord existant
            </ion-item>
        </ion-card>
    </div>

    <div *ngIf="dataCamembert">
    <ion-card>
        <ion-card-header>

        </ion-card-header>
        <ion-card-content>
            <canvas #camembert></canvas>
        </ion-card-content>
    </ion-card>
    </div>

    <ion-slides style="height: 10%">
        <ion-slide *ngFor="let coaching of mesCoachings">
           <ion-card  [style.background-image]="coaching.bgImage">

            <ion-grid style="padding:0px">
                <ion-row row-1 style="padding:0px" ><!--class="{{coaching.theme}}"-->
                    <ion-col style="padding:0px" align-self-start>
                        <ion-grid style="padding:0px">
                            <ion-row style="padding:0px" >
                                <ion-col style="padding:0px" >
                                    <img item-left src="../../assets/img/{{coaching.sourceimg}}">
                                </ion-col>
                                <ion-col style="padding:0px" >
                                   <!-- {{coaching.nameTheme}}-->
                                </ion-col>
                            </ion-row>                  
                        </ion-grid>
                       
                    </ion-col>
                </ion-row>    
                <ion-row row-4 style="padding:0px" style="height: 95px">
                    <ion-col style="padding:0px" align-self-start>
                        <div style="color: white; padding-top: 26px;    font-size: 27px;" center>{{coaching.titre}}</div>
                        <div style="color: white; font-size: 16px;" center>{{coaching.evenement}}&nbsp;€</div> 
                                        
                    </ion-col>  
                </ion-row>
                <ion-row row-1 style="padding:0px;    height: 52px;">
                      <ion-col style="padding:0px" col-2 align-self-start>
                        <ion-icon name="thumbs-down" style = "zoom:2.5;color:white; padding-left: 10px;"></ion-icon>
                   </ion-col>
                    <ion-col style="padding:0px" >&nbsp;</ion-col>
                    <ion-col style="padding:0px" col-3 align-self-start>
                         <ion-icon name="thumbs-up" style = "zoom:2.5;color:white;padding-right: 3px;"></ion-icon>
                    </ion-col>
                </ion-row>                  
            </ion-grid>
            
                
                
<!--            </div>

            <ion-item>
                <ion-icon name="{{coaching.icone}}" item-start large></ion-icon>
                <h2>{{coaching.titre}}</h2>
            </ion-item>

            <ion-item>
                <img item-left src="../../assets/img/{{coaching.sourceimg}}">
                <p>{{coaching.sourcemessage}}</p>
            </ion-item>

            <ion-item>
                <span item-left>{{coaching.evenement}} €</span>
                <button ion-button icon-left clear item-end>
                <ion-icon name="add-circle"></ion-icon>
                Ajouter evenement
                </button>
            </ion-item>-->

            </ion-card>
        </ion-slide>
    <ion-slide>
        <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
        <h1>Slide 3</h1>
    </ion-slide>
    </ion-slides>
</ion-content>